.imgKebab {
  height: 280px;
  width: 280px;
  margin-left: 50px;
  float: left;
}
.changeKebab {
  min-height: 280px;
  min-width: 280px;
  float: left;
  margin-left: 20px;
  text-align: center;
  padding: 20px;
}
.form-control {
  padding: 5px;
  margin: 5px;
}
.btnKebab {
  margin-left: 10px;
}
