<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark menuBlock">
      <a class="navbar-brand" routerLink="/">Rivne doner</a>
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/" class="nav-link">Головна</a></li>
          <li class="nav-item" routerLinkActive="active"><a [routerLink]="'/kebabs'" class="nav-link">Меню</a></li>
          <li class="nav-item" routerLinkActive="active"><a [routerLink]="'/about'" class="nav-link">Про нас</a></li>
        </ul>
    </nav>
    <div class="singIn">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active"><a [routerLink]="'/sing-in'" class="nav-link">SingIn/SingUp</a></li>
      </ul>
      </nav>
    </div>
  </div>
</div>
<hr>
  <router-outlet></router-outlet>
<hr>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-6 info">
          <div class="infoSpan">
            <p class="infoText">Рівне донер</p>
            <p class="infoText">м.Рівне, вул.Соборна 156</p>
            <p class="infoText">тел.: 0990392676</p>
          </div>
        </div>
        <div class="col-xs-6 gMap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.371031424181!2d26.243699271946
        24!3d50.620223893620164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f6dc0fb753681%3A0x12fb8c6da6073d6d!2z0KjQsNGD0YDQv
        NCwICwg0KTQsNC70LDRhNC10LvRjCAsINCa0YDQtdCy0LXRgtC60Lg!5e0!3m2!1sru!2sua!
        4v1538050085221" width="700" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
